.bold{
  font-weight: bold !important;
}

.content{
  margin-top: 1.5rem;
}

.chart{
  margin: auto;
  width: 900px; 
  height: 500px;
}

@media (max-width: 992px) {
  .navbar-nav {
      margin: auto 0 !important;
      text-align: center;
  }
}

.min-vh-51{
  min-height: 51vh;
}

.min-vh-80{
  min-height: 80vh;
}