$theme-colors: (
  'primary': #ff2600,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff2600,
  'light': #c0ccda,
  'dark': #001738,
);

$component-active-bg: #ff2600;

$pagination-active-bg: #ff2600;
$pagination-color: #ff2600;
$pagination-hover-color: #ff2600;
$pagination-focus-color: #ff2600;

$nav-link-color: #ff2600;
$nav-link-hover-color: #cc1f00;

@font-face {
  font-family: "Brandon";
  font-style: normal;
  font-weight: 400;
  src: url(../../../public/fonts/brandon_reg.otf);
}

@font-face {
  font-family: "Brandon";
  font-style: bold;
  font-weight: bold;
  src: url(../../../public/fonts/brandon_bld.otf);
}

$font-family-base: Brandon;

@import 'bootstrap/scss/bootstrap.scss';