$primary: #ff6640;
$secondary: #AB91E3;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff2600,
  'light': #c0ccda,
  'dark': #001738,
);

$component-active-bg: $primary;

$pagination-active-bg: $primary;
$pagination-color: $primary;
$pagination-hover-color: $primary;
$pagination-focus-color: $primary;

$nav-link-color: $primary;
$nav-link-hover-color: darken($primary, 10%);

@font-face {
  font-family: "Brandon";
  font-style: normal;
  font-weight: 400;
  src: url(../../../public/fonts/brandon_reg.otf);
}

@font-face {
  font-family: "Brandon";
  font-style: bold;
  font-weight: bold;
  src: url(../../../public/fonts/brandon_bld.otf);
}

$font-family-base: Brandon;

@import 'bootstrap/scss/bootstrap.scss';