name: Web Lint Workflow

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    name: Web Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: './web/package.json'
          cache-dependency-path: './web/yarn.lock'
      - run: yarn install
        working-directory: './web'
      - run: yarn lint
        working-directory: './web'

